[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-immich
Exec=harbour-immich
Name=Immich

[X-Sailjail]
Permissions=Internet;Secrets;Pictures;Videos;UserDirs
