[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-immich
Exec=harbour-immich %u
Name=Immich
MimeType=x-scheme-handler/app.immich;

[X-Sailjail]
OrganizationName=mezmerize
ApplicationName=harbour-immich
Permissions=Internet;Secrets;Pictures;Videos;UserDirs
